[server]
debug_mode = 1
http_port  = 8866
http_addr  = 127.0.0.1
static_path = web/static
adapters   = hexitec, proxy, registerAccessor, munir, liveview, histogram
enable_cors = true
#munir,
[tornado]
logging = debug

[adapter.hexitec]
module = hexitec.adapter.HexitecAdapter
user_type = basic
# power/basic
task_interval = 1
check_interval = 5
lane_timeout = 60
channel_timeout = 60
max_retries = 3
frame_check_interval = 0.5
event_history = 100

[adapter.proxy]
module = odin.adapters.proxy.ProxyAdapter
targets = 
    loki = http://192.168.0.190:8888/api/0.1/lokicarrier/
request_timeout = 1.0

[adapter.munir]
module = munir.adapter.MunirAdapter
fp_mode = 1
liveview_control = 1
ctrl_timeout = 1.0
poll_interval = 0.5
message_limit = 5
odin_data_config_path = web/config
subsystems = hexitec_mhz
hexitec_mhz_endpoints = tcp://127.0.0.1:5000

[adapter.registerAccessor]
module = RegisterAccessor.adapter.RegisterAccessorAdapter
accessor_type = xdma
reg_map = ./web/config/register_accessor/hexitec_mhz_dual_hist_nosi5328.json
poll_rate = 500
device_index = 0

[adapter.liveview]
module = hexitec.liveview.adapter.HistogramLiveViewAdapter
# ZMQ endpoints for histogram data streams
histogram_endpoint = tcp://localhost:5020
# Names for each endpoint
endpoint_name = detector1
# Data dimensions in format width x height x energy_bins
data_dimensions = 80x80x1024
# Energy bin range in format min:max
energy_bin_range = 0:1023

[adapter.histogram]
module = histogrammer.adapter.HistogramAdapter
dev_num = 1

source_ip = 10.0.100.108
accel_rx_ip = 10.0.100.8
accel_tx_ip = 10.0.101.109
dest_ip = 10.0.101.8

source_port = 61648
accel_port = 61649