[server]
debug_mode = 1
http_port  = 8866
http_addr  = 127.0.0.1
static_path = web/static
adapters   = hexitec, proxy, munir, liveview, histogram, acquisition, readout
enable_cors = true
[tornado]
logging = debug

[adapter.acquisition]
module = hexitec.acquisition.adapter.AcquisitionAdapter
default_bin_mode = histogram_1024
munir_subsystem = hexitec_mhz


[adapter.hexitec]
module = hexitec.adapter.HexitecAdapter
user_type = power
# power/basic
timeout = 60
max_retries = 3
event_history = 100
frequency = 1000

[adapter.proxy]
module = odin.adapters.proxy.ProxyAdapter
targets = 
    loki = http://192.168.0.190:8888/api/0.1/lokicarrier/
request_timeout = 1.0

[adapter.munir]
module = munir.adapter.MunirAdapter
fp_mode = 1
liveview_control = 1
ctrl_timeout = 1.0
poll_interval = 0.5
message_limit = 50
odin_data_config_path = web/config
subsystems = hexitec_mhz
hexitec_mhz_endpoints = tcp://127.0.0.1:5000

[adapter.readout]
module = readout_processor.adapter.ReadoutProcessorAdapter
accessor_type = xdma
reg_map = web/config/register_accessor/hexitec_mhz_dual_hist_nosi5328.json
poll_rate = 500
device_index = 0

[adapter.liveview]
module = hexitec.liveview.adapter.HistogramLiveViewAdapter
# ZMQ endpoints for histogram data streams
histogram_endpoint = tcp://127.0.0.1:5021
# Names for each endpoint
endpoint_name = detector1
# Data dimensions in format width x height x energy_bins
data_dimensions = 80x80x1024
# Occupancy threshold settings. pixel is pixel value. warning is % of pixels to indicate warning
occupancy_pixel_threshold = 10
occupancy_warning_threshold = 10

[adapter.histogram]
module = histogrammer.adapter.adapter.HistogramAdapter
dev_num = 1

source_ip = 10.0.100.108
accel_rx_ip = 10.0.100.8
accel_tx_ip = 10.0.101.109
dest_ip = 10.0.101.8

source_port = 61648
accel_port = 61649

config_dir = web/config/
