[server]
debug_mode = 1
http_port  = 8866
http_addr  = 127.0.0.1
static_path = web/static
adapters   = hexitec, proxy, readout
enable_cors = true
# [tornado]
# logging = debug

[adapter.hexitec]
module = hexitec.adapter.HexitecAdapter
user_type = power
# power/basic
timeout = 60
max_retries = 3
event_history = 100
frequency = 1000

[adapter.proxy]
module = odin.adapters.proxy.ProxyAdapter
targets = 
    loki = http://192.168.0.190:8888/api/0.1/lokicarrier/
request_timeout = 1.0

[adapter.readout]
module = readout_processor.adapter.ReadoutProcessorAdapter
accessor_type = xdma
reg_map = web/config/register_accessor/hexitec_mhz_dual_hist_nosi5328.json
poll_rate = 500
device_index = 0
